[submodule "submodules/qgenlib"]
	path = submodules/qgenlib
	url = https://github.com/hyunminkang/qgenlib
[submodule "submodules/htslib"]
	path = submodules/htslib
	url = https://github.com/samtools/htslib
[submodule "submodules/eigen"]
	path = submodules/eigen
	url = https://gitlab.com/libeigen/eigen.git
